<ion-content>
  <div class="flex_pro">
    <img src="../../../assets/back_arrow.png" class="back_btn">
    <ion-label class="verify">Forget Password</ion-label>
  </div>
  <div class="signin_design">
    <ion-list>
      <ion-item class="gap">
        <div class="same_line">
          <ion-icon name="key" class="num_icon"></ion-icon>
          <ion-input placeholder="New Password" type="password"></ion-input>
        </div>
      </ion-item>
      <ion-item class="gap">
        <div class="same_line">
          <ion-icon name="key" class="num_icon"></ion-icon>
          <ion-input placeholder="Confirm Password" type="password"></ion-input>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="confirm_div">
    <button class="In_btn" [routerLink]="['/signin']">Change Password</button>
  </div>
</ion-content>