<!-- <ion-toolbar>
  <ion-row>
    <div left class="nav_left">
   
      <ion-icon name="menu" class="menu"></ion-icon>
    
    </div>
    <ion-title>
      <ion-input class="search_input" placeholder="Search your food here">
        <ion-icon name="search"></ion-icon>
      </ion-input>
    </ion-title>
    <div end class="nav_right">
      <button id="notification-button" ion-button clear>
        <ion-icon name="cart" class="search">
          <ion-badge id="notifications-badge" color="danger">5</ion-badge>
        </ion-icon>
      </button>
    </div>
  </ion-row>
</ion-toolbar> -->

<ion-header>
  <ion-toolbar>
    <ion-icon name="person" class="header_menu" slot="start"></ion-icon>
    <ion-input class="search_input" placeholder="Search your food here">
      <ion-icon name="search" class="search"></ion-icon>
    </ion-input>
    <ion-icon name="cart" class="header_menu" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <!-- <div *ngIf="data">
    <div class="ion-padding">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac eros est. Cras iaculis pulvinar arcu non
      vehicula. Fusce at quam a eros malesuada condimentum. Aliquam tincidunt tincidunt vehicula.
    </div>

    <ion-list>
      <ion-list-header>Data</ion-list-header>
    </ion-list>
  </div> -->
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>

</ion-content>