<ion-content>
  <ion-slides [options]="{pager: true}" >
    <ion-slide>
      <img src="../../../assets/s1.jpg" alt="Meat1">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/s3.jpg" alt="Meat1">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/s4.jpg" alt="Meat1">
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../../assets/s5.jpg" alt="Meat1">
        <button class="continue_btn" ion-button [routerLink]="['/signin']">Continue</button>
        <!-- <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright" [routerLink]="['/login']"></ion-icon> -->
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>