<!-- <ion-header>
  <ion-toolbar>
    <ion-title>AddressPopup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="flex_pro">
      <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft" [routerLink]="['/search-detail']" slot="start" class="back_btn"></ion-icon>
    <!-- <img src="../../../assets/back_arrow.png" class="back_btn" [routerLink]="['/search-detail']"> -->
    <ion-label class="verify">Current Address</ion-label>
  </div>

  <div class="signin_design">
    <ion-list>
      <ion-item class="gap">
        <div class="same_line">
          <!-- <ion-icon name="mail" class="num_icon"></ion-icon> -->
          <ion-input placeholder="Address" type="email"></ion-input>
        </div>
      </ion-item>
      <ion-item class="gap">
        <div class="same_line">
          <!-- <ion-icon name="mail" class="num_icon"></ion-icon> -->
          <ion-input placeholder="Address 1" type="email"></ion-input>
        </div>
      </ion-item>
      <ion-item class="gap">
        <div class="same_line">
          <!-- <ion-icon name="mail" class="num_icon"></ion-icon> -->
          <ion-input placeholder="Address 2" type="email"></ion-input>
        </div>
      </ion-item>
      <ion-item class="gap">
        <div class="same_line">
          <!-- <ion-icon name="mail" class="num_icon"></ion-icon> -->
          <ion-input placeholder="Address 3" type="email"></ion-input>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div class="order_btn">
    <button class="In_btn" [routerLink]="'/orderdetail'">Place Order</button>
  </div>
</ion-content>