<!-- <ion-header>
  <ion-toolbar>
    
    <ion-input class="search_input" placeholder="Search your food here">
      <ion-icon name="search" class="search"></ion-icon>
    </ion-input>
    <ion-icon name="cart" class="header_menu" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-row>
    <h4 class="dash_head">Today's Special </h4>
  </ion-row>
  <ion-list lines="none">
    <ion-item>
      <ion-row class="dash_menu" [routerLink]="['/search-list']">
        <img src="../../../assets/s3.jpg" class="dash_img">
        <img src="../../../assets/s4.jpg" class="dash_img">
      </ion-row>
    
    </ion-item>
    <ion-row>
        <h4 class="dash_head">Categories</h4>
      </ion-row>

    <ion-item>
        <ion-row class="dash_menu" [routerLink]="['/search-list']">
          <img src="../../../assets/meat2.png" class="category">
          <img src="../../../assets/meat4.jpg" class="category">
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row class="dash_menu" [routerLink]="['/search-list']">
          <img src="../../../assets/s4.jpg" class="category">
          <img src="../../../assets/s5.jpg" class="category">
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row class="dash_menu" [routerLink]="['/search-list']">
          <img src="../../../assets/meat2.png" class="category">
          <img src="../../../assets/meat4.jpg" class="category">
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row class="dash_menu" [routerLink]="['/search-list']">
          <img src="../../../assets/s3.jpg" class="category">
          <img src="../../../assets/s4.jpg" class="category">
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row class="dash_menu" [routerLink]="['/search-list']">
          <img src="../../../assets/foodimg.jpeg" class="category">
          <img src="../../../assets/loginimg.jpg" class="category">
        </ion-row>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-input class="search_input" placeholder="Search your food here" [routerLink]="['/search-list']">
      <ion-icon name="search" class="search"></ion-icon>
    </ion-input>
    <ion-icon name="notifications" class="header_menu" slot="end" [routerLink]="['/notifications']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <img src="../../../assets/meat3.jpg" class="home_img">
  </div>
  <div>
    <ion-row>
      <h4 class="dash_title">Top Categories </h4>
    </ion-row>
    <!-- <ion-item>
      <div class="container">
        <div class="scroll" scrollX="true">
          <span *ngFor="let post of JSONDATA | async">{{post.image}}</span>
        </div>
      </div>
    </ion-item> -->
    <!-- <ion-scroll scrollX="true">

      <ion-card>
        <ion-card-content>
          content
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          content
        </ion-card-content>
      </ion-card>

    </ion-scroll> -->

    <!-- *ngFor="let i of this.FOODDATA" -->


    <ion-list lines="none">
      <ion-item>
        <ion-row class="dash_menu" [routerLink]="['/search-list']">
          <img src="../../../assets/s3.jpg" class="dash_img">
          <img src="../../../assets/s4.jpg" class="dash_img">
        </ion-row>
      </ion-item>
      <ion-row>
        <h4 class="dash_title">Popular this week</h4>
      </ion-row>
      <ion-item class="item_row" [routerLink]="['/search-list']">
        <ion-card class="item_card " (click)="navSearch(i.category_id, i.category)">
          <ion-row class="item_row">
            <div>
              <ion-avatar slot="start">
                <img src="../../../assets/plate1.jpg">
              </ion-avatar>
            </div>
            <div>
              <ion-label class="item_label">
                <h3>
                  <p>Mutton</p>
                </h3>
                <p>
                  Mutton Chukka
                </p>
                <p>
                  Mutton Chukka with honey
                </p>
              </ion-label>
            </div>
          </ion-row>
        </ion-card>
      </ion-item>
      <!-- *ngFor="let i of this.FOODDATA" (click)="navSearch(i.category_id, i.category)" -->
      <ion-item class="item_row" [routerLink]="['/search-list']">
          <ion-card class="item_card" >
            <ion-row class="item_row">
              <div>
                <ion-avatar slot="start">
                  <img src="../../../assets/plate1.jpg">
                </ion-avatar>
              </div>
              <div>
                <ion-label class="item_label">
                  <h3>
                    <p>Chicken</p>
                  </h3>
                  <p>
                    Chicken role
                  </p>
                  <p>
                    chicken role of wings
                  </p>
                </ion-label>
              </div>
            </ion-row>
          </ion-card>
        </ion-item>
    </ion-list>
  </div>
</ion-content>