<ion-header>
    <ion-toolbar>
      <ion-input class="search_input" onclick="openList()">
        <ion-icon name="search" class="search_icon"></ion-icon>
      </ion-input>
    </ion-toolbar>
  </ion-header>
  <ion-content class="padding">
    <ion-row class="chips_row">
      <ion-chip class="my_chips">
        <ion-label >Fresh Goat</ion-label>
      </ion-chip>
      <ion-chip class="my_chips">
        <ion-label >Lamb</ion-label>
      </ion-chip>
      <ion-chip class="my_chips">
        <ion-label >Fish</ion-label>
      </ion-chip>
      <ion-chip class="my_chips">
        <ion-label >Chicken</ion-label>
      </ion-chip>
      <ion-chip class="my_chips">
        <ion-label >Beef</ion-label>
      </ion-chip>
      <ion-chip class="my_chips">
        <ion-label >Beef</ion-label>
      </ion-chip>
      <ion-chip class="my_chips">
        <ion-label >Crab</ion-label>
      </ion-chip>
      <ion-chip class="my_chips">
        <ion-label >Lobster</ion-label>
      </ion-chip>
      <ion-chip class="my_chips">
          <ion-label >Chinees</ion-label>
        </ion-chip>
        <ion-chip class="my_chips">
          <ion-label >indian</ion-label>
        </ion-chip>
        <ion-chip class="my_chips">
          <ion-label >Restaurant</ion-label>
        </ion-chip>
        <ion-chip class="my_chips">
          <ion-label >Malls</ion-label>
        </ion-chip>
        <ion-chip class="my_chips">
          <ion-label >Shop</ion-label>
        </ion-chip>
    </ion-row>
  
    <div class="arrow_div">
      <img src="../../../assets/icon/right-arrow.png" class="arrow" (click)="searchInfo()">
    </div>
  </ion-content>