<!-- <ion-content id="starter">

    <div class="top_div">
        <p class="greeting">Make your food search is more fun here</p>
    </div>

    <div class="log_div">
        <button ion-button id="in" class="signin_btn" (click)='navigate("SignIn")'>SingIn</button>
        <h4 style="font-family: initial;">----- Or -----</h4>
        <button ion-button id="up" class="signup_btn" (click)='navigate("SignUp")'>SingUp</button>
    </div>
</ion-content>  -->

<ion-content class="padding">
    <ion-list>
        <ion-item>
            <div>
                <p>test item</p>
                <p>test item details </p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>