<ion-header>
  <ion-toolbar>
    <!-- <img src="../../../assets/back_arrow.png" slot="start" class="back_arrow" [routerLink]="['/tabs']"> -->
    <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft" [routerLink]="['/tabs']" slot="start" class="back_arrow"></ion-icon>
    <ion-input class="search_input" placeholder="find your food here">
      <ion-icon name="search" class="search"></ion-icon>
    </ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge>4</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-row class="chips_row">
    <ion-chip class="my_chips">
      <ion-label>Fresh Goat</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Lamb</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Fish</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Chicken</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Beef</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Beef</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Crab</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Lobster</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Chinees</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>indian</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Restaurant</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Malls</ion-label>
    </ion-chip>
    <ion-chip class="my_chips">
      <ion-label>Shop</ion-label>
    </ion-chip>
  </ion-row>

  <ion-list lines="none">
    <ion-item class="item_row">
      <ion-card class="item_card">
        <ion-row class="item_row">
          <div [routerLink]="['/search-detail']">
            <ion-avatar slot="start">
              <img src="../../../assets/meat3.jpg">
            </ion-avatar>
          </div>
          <div>
            <ion-label class="item_label">
              <h3>
                heading
              </h3>
              <p>
                Meat Name
              </p>
              <p>
                Meat Description
              </p>
            </ion-label>
          </div>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item class="item_row">
      <ion-card class="item_card">
        <ion-row class="item_row">
          <div [routerLink]="['/search-detail']">
            <ion-avatar slot="start">
              <img src="../../../assets/meat3.jpg">
            </ion-avatar>
          </div>
          <div>
            <ion-label class="item_label">
              <h3>
                heading
              </h3>
              <p>
                Meat Name
              </p>
              <p>
                Meat Description
              </p>
            </ion-label>
          </div>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item [routerLink]="['/search-detail']" class="item_row">
      <ion-card class="item_card">
        <ion-row class="item_row">
          <div>
            <ion-avatar slot="start">
              <img src="../../../assets/meat3.jpg">
            </ion-avatar>
          </div>
          <div>
            <ion-label class="item_label">
              <h3>
                heading
              </h3>
              <p>
                Meat Name
              </p>
              <p>
                Meat Description
              </p>
            </ion-label>
          </div>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item [routerLink]="['/search-detail']" class="item_row">
      <ion-card class="item_card">
        <ion-row class="item_row">
          <div>
            <ion-avatar slot="start">
              <img src="../../../assets/meat3.jpg">
            </ion-avatar>
          </div>
          <div>
            <ion-label class="item_label">
              <h3>
                heading
              </h3>
              <p>
                Meat Name
              </p>
              <p>
                Meat Description
              </p>
            </ion-label>
          </div>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item [routerLink]="['/search-detail']" class="item_row">
      <ion-card class="item_card">
        <ion-row class="item_row">
          <div>
            <ion-avatar slot="start">
              <img src="../../../assets/meat3.jpg">
            </ion-avatar>
          </div>
          <div>
            <ion-label class="item_label">
              <h3>
                heading
              </h3>
              <p>
                Meat Name
              </p>
              <p>
                Meat Description
              </p>
            </ion-label>
          </div>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item [routerLink]="['/search-detail']" class="item_row">
      <ion-card class="item_card">
        <ion-row class="item_row">
          <div>
            <ion-avatar slot="start">
              <img src="../../../assets/meat3.jpg">
            </ion-avatar>
          </div>
          <div>
            <ion-label class="item_label">
              <h3>
                heading
              </h3>
              <p>
                Meat Name
              </p>
              <p>
                Meat Description
              </p>
            </ion-label>
          </div>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item [routerLink]="['/search-detail']" class="item_row">
      <ion-card class="item_card">
        <ion-row class="item_row">
          <div>
            <ion-avatar slot="start">
              <img src="../../../assets/meat3.jpg">
            </ion-avatar>
          </div>
          <div>
            <ion-label class="item_label">
              <h3>
                heading
              </h3>
              <p>
                Meat Name
              </p>
              <p>
                Meat Description
              </p>
            </ion-label>
          </div>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>