<!-- <ion-header>
  <img src="">
</ion-header> -->
<ion-content class="padding">
  <h4 class="signin">Sign Up Here</h4>
  <div class="signin_design">
    <ion-list lines="none">
      <!-- <ion-item class="gap">
        <div class="same_line">
          <ion-icon name="mail" class="num_icon"></ion-icon>
          <ion-input placeholder="Email" type="email"></ion-input>
        </div>
      </ion-item> -->
      <ion-item class="gap">
        <div class="same_line">
          <ion-icon name="call" class="num_icon"></ion-icon>
          <ion-input placeholder="Mobile number" type="number"></ion-input>
        </div>
      </ion-item>
      <!-- <ion-item class="gap">
        <div class="same_line">
          <ion-icon name="key" class="num_icon"></ion-icon>
          <ion-input placeholder="Password" type="password"></ion-input>
        </div>
      </ion-item>
      <ion-item class="gap">
        <div class="same_line">
          <ion-icon name="key" class="num_icon"></ion-icon>
          <ion-input placeholder="Confirm password" type="password"></ion-input>
        </div>
      </ion-item> -->
    </ion-list>

    <div class="forget_pwd"> forget password? </div>

  </div>

  <div class="In_btn_div">
    <Button ion-button class="In_btn" [routerLink]="['/profile']"> SignUp</Button>
  </div>

  <div>
    <h4 class="nav_reg">Already have an Account <a [routerLink]="['/signin']">Login here</a></h4>
  </div>



</ion-content>