<ion-content>
  <div class="flex_pro">
      
    <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft" [routerLink]="['/tabs']" slot="start" class="back_btn"></ion-icon>
    <!-- <img src="../../../assets/back_arrow.png" class="back_btn" [routerLink]="['/tabs']"> -->
    <!-- <ion-label class="verify" >My Cart</ion-label> -->
  </div>
  <div>
    <div *ngIf="this.ProductsRes">
      <p class="no_records">No orders available </p>
    </div>
    <ion-list >
        <!-- *ngFor="let i of this.ProductsRes" -->
      <ion-item class="item_row" >
        <ion-card class="item_card">
          <ion-row class="item_row">
            <div [routerLink]="['/search-detail']">
              <ion-avatar slot="start">
                <img src="../../../assets/plate5.jpg">
              </ion-avatar>
            </div>
            <div>
              <ion-label class="item_label">
                <h3>
                  Chicken
                  <!-- {{i.product.name}} -->
                </h3>
                <p>
                  Chicken chukka with honey
                  <!-- {{i.product.description}} -->
                </p>
                <p>
                  Rs.230
                  <!-- {{'Rs.'+i.product.final_price}} -->
                </p>
              </ion-label>
            </div>

            <!-- <div class="centr_margin">
                      <img src="../../../assets/plus-button.png" width="50px">
                    </div> -->
          </ion-row>
          <div style="text-align: end;">
            <Button ion-button class="order_now" [routerLink]="['/search-detail']"> Order Now</Button>
          </div>
        </ion-card>
      </ion-item>
     
    </ion-list>
  </div>
</ion-content>